body {
  margin: 0;
  background-image: url('/assets/images/backgrounds/spain figther.jpeg');
  background-size: cover;
  background-position: center;
  
}

canvas {
    border: 1px solid black;
    
}

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

#logo {
  display: block;
  margin: 2px auto 0;   /* centrado, con un poco de espacio arriba */
  width: 500px;          /* ajusta el tamaño que quieras */
}