body {
  margin: 0;
  
  
}
#startBtn {
    background: none;
    border: none
}
canvas {
   
}

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

#logo {
  display: block;
  margin: 2px auto;   
  width: 500px;        
}